<!--Home-->

<div id="home_tab" class="active content_tab">

    <div class="col-xs-3"> <!-- required for floating -->

        <singleclickprivacy></singleclickprivacy>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left"><!-- 'tabs-right' for right tabs -->

            <li ui-sref-active-eq="active"><a ui-sref="home">Main</a></li>
            <li ui-sref-active="active"><a ui-sref="home.privacyQuestionnaire" >Privacy Questionnaire</a></li>
            <li ui-sref-active="active"><a ui-sref="home.notifications"><span>Notifications</span><notification-counter></notification-counter></a></li>
            <li ui-sref-active="active"><a ui-sref="home.blog">Blog</a></li>

        </ul>
    </div>



        <div class="col-xs-9">
            <!-- Tab panes -->
            <div class="tab-content">
                <div ui-view>
                <div class="tab-pane active" id="main">
                    <h2>Main</h2>

                    <div class="panel-group col-xs-6">

                        <div class="panel panel-default panel-news">
                            <div class="panel-heading">News</div>
                            <div class="panel-body">

                                <a class="twitter-timeline" href="https://twitter.com/OperandoH2020">Tweets by
                                    OperandoH2020</a>
                                <script async src="/operando/utils/widgets.js" charset="utf-8"></script>

                            </div>
                        </div>

                    </div>

                    <div class="panel-group col-xs-6">

                        <div class="panel panel-default panel-notifications">
                            <div class="panel-heading">Notifications</div>
                            <div class="panel-body">

                                <notifications></notifications>

                            </div>
                        </div>

                    </div>


                </div>


            </div>
        </div>

    </div>



</div>
<!-- END Home-->