<tr>
    <td class="supplier">
        <div class="pfbdeal">
        <img class="pfb_logo" width="128px" ng-src="{{deal.logo}}"/>
        <div class="pfbdeal_website" style="text-align:center">
            <a href="http://{{deal.website}}"> <span>{{deal.website}}</span></a>
        </div>
        </div>
    </td>
    <td>{{deal.description}}</td>
    <td width="210px" ng-if="deal.type=='myDeal'">{{deal.voucher}}</td>
    <td class="actions">

        <button ng-if="deal.type=='myDeal'" class="btn-primary" ng-click="unsubscribe_deal()">Unsubscribe</button>
        <button ng-click="visitWebsite()" ng-if="deal.type=='availableOffer'" class="btn-primary">Accept</button>
    </td>
</tr>
